<html>
<head>
  <title>BookMarker App</title>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <!-- Nav -->
  <div class="top-nav">
    <div class="nav-left">
      <div class="brand">
        <i class="fa fa-connectdevelop"></i>
        <a href="/links">BOOKMARKER</a>
      </div>
    </div>
    <div class="nav-right">
      <div class="menu-item">
        <i class="fa fa-cloud-upload"></i>
      </div>
      <div class="menu-item">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </div>
  <%= yield %>
</body>
</html>
