<div class="content">
  <div class="container">
    <div class="page-content">
    <h2>New bookmark</h2>
      <form action='/links' method='post'>
        <label class="go-left">URL</label>
        <input type='text' name="url" placeholder="url">
        <label class="go-left">Genre</label>
        <input type='text' name='genre' placeholder="genre">
        <label class="go-left">Title</label>
        <input type='text' name="title" placeholder="title">
        <label class="go-left">Details</label>
        <input type='text' name='details' placeholder='details'>
        <button>Submit</button>
      </form>
    </div>
  </div>
</div>

